src/siso/librerie/GedRomaClient/resources/wsdl_produzione/GestoreGED_PRT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.protocollo.eng" xmlns:impl="http://ws.protocollo.eng" xmlns:intf="http://ws.protocollo.eng" xmlns:tns2="http://ged.data.protocollazione.protocollo.eng" xmlns:tns3="http://anagrafica.ged.data.protocollazione.protocollo.eng" xmlns:tns4="http://common.datatype.eng" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ged.data.protocollazione.protocollo.eng" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns3="http://anagrafica.ged.data.protocollazione.protocollo.eng" xmlns:tns4="http://common.datatype.eng" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://common.datatype.eng"/>
   <import namespace="http://anagrafica.ged.data.protocollazione.protocollo.eng"/>
   <complexType name="Autenticazione">
    <sequence>
     <element name="codiceApplicazioneChiamante" nillable="true" type="xsd:string"/>
     <element name="passwordApplicazioneChiamante" nillable="true" type="xsd:string"/>
     <element name="altreInfo" nillable="true" type="tns2:ArrayOf_598279129_1440052060_nillable_string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_598279129_1440052060_nillable_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="TipologiaDocumenti">
    <sequence>
     <element name="codiceDocumento" nillable="true" type="xsd:string"/>
     <element name="codiceProceduraChiamante" nillable="true" type="xsd:string"/>
     <element name="altreInfo" nillable="true" type="tns2:ArrayOf_598279129_1440052060_nillable_string"/>
    </sequence>
   </complexType>
   <complexType name="DatiProtocollazione">
    <sequence>
     <element name="utenteProtocollante" nillable="true" type="xsd:string"/>
     <element name="dataOraArrivoDocumento" nillable="true" type="xsd:dateTime"/>
     <element name="testoOggetto" nillable="true" type="xsd:string"/>
     <element name="noteDocumento" nillable="true" type="xsd:string"/>
     <element name="idUnivocoProceduraChiamante" nillable="true" type="xsd:string"/>
     <element name="dataIdUnivocoProceduraChiamante" nillable="true" type="xsd:dateTime"/>
     <element name="protocolloPrecedente" nillable="true" type="tns2:Protocollo"/>
     <element name="protocolloProvenienza" nillable="true" type="tns2:Protocollo"/>
     <element name="isEsistente" nillable="true" type="xsd:boolean"/>
     <element name="isDocumentoRiservato" nillable="true" type="xsd:boolean"/>
     <element name="codiceDocumentoLogico" nillable="true" type="xsd:string"/>
     <element name="codiceDocumentoSottoLogico" nillable="true" type="xsd:string"/>
     <element name="altreInfo" nillable="true" type="tns2:ArrayOf_598279129_1440052060_nillable_string"/>
     <element name="tipoCodificaStruttura" nillable="true" type="xsd:string"/>
     <element name="strutturaProtocollante" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Protocollo">
    <sequence>
     <element name="tipo" nillable="true" type="xsd:string"/>
     <element name="anno" nillable="true" type="xsd:int"/>
     <element name="progressivo" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="Nominativo">
    <sequence>
     <element name="tipoNominativo" nillable="true" type="xsd:string"/>
     <element name="descrizioneNominativo" nillable="true" type="xsd:string"/>
     <element name="codiceFiscale" nillable="true" type="xsd:string"/>
     <element name="dataNascita" nillable="true" type="xsd:dateTime"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="codiceGED" nillable="true" type="xsd:string"/>
     <element name="altreInfo" nillable="true" type="tns2:ArrayOf_598279129_1440052060_nillable_string"/>
     <element name="indirizzo" nillable="true" type="tns3:Indirizzo"/>
    </sequence>
   </complexType>
   <complexType name="StrutturaDestinataria">
    <complexContent>
     <extension base="tns2:Struttura">
      <sequence>
       <element name="tipoInvio" nillable="true" type="xsd:string"/>
       <element name="flagProtocollazioneRicezione" nillable="true" type="xsd:boolean"/>
       <element name="protocolloPrecedente" nillable="true" type="tns2:Protocollo"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="Struttura">
    <sequence>
     <element name="codiceStruttura" nillable="true" type="xsd:string"/>
     <element name="altreInfo" nillable="true" type="tns2:ArrayOf_598279129_1440052060_nillable_string"/>
     <element name="utenteStruttura" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ResultProtocollazione">
    <complexContent>
     <extension base="tns4:Result">
      <sequence>
       <element name="numeroProtocolli" nillable="true" type="tns2:ArrayOfNumeroProtocollo"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NumeroProtocollo">
    <sequence>
     <element name="tipoProtocollo" nillable="true" type="xsd:string"/>
     <element name="annoProtocollo" nillable="true" type="xsd:int"/>
     <element name="progressivoProtocollo" nillable="true" type="xsd:int"/>
     <element name="dataProtocollo" nillable="true" type="xsd:dateTime"/>
     <element name="oraProtocollo" nillable="true" type="xsd:dateTime"/>
     <element name="codiceMittente" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfNumeroProtocollo">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="NumeroProtocollo" nillable="true" type="tns2:NumeroProtocollo"/>
    </sequence>
   </complexType>
   <complexType name="NominativoDestinatario">
    <complexContent>
     <extension base="tns2:Nominativo">
      <sequence>
       <element name="tipoInvio" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
    <schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.protocollo.eng" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://ged.data.protocollazione.protocollo.eng" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ged.data.protocollazione.protocollo.eng"/>
   <element name="protocollazioneMittenteEsternoResponse">
    <complexType>
     <sequence>
      <element name="protocollazioneMittenteEsternoReturn" nillable="true" type="tns2:ResultProtocollazione"/>
     </sequence>
    </complexType>
   </element>
   <element name="protocollazioneMittenteAmministrazione">
    <complexType>
     <sequence>
      <element name="autenticazione" nillable="true" type="tns2:Autenticazione"/>
      <element name="tipologiaDocumenti" nillable="true" type="tns2:TipologiaDocumenti"/>
      <element name="datiProtocollazione" nillable="true" type="tns2:DatiProtocollazione"/>
      <element name="mittente" nillable="true" type="tns2:Struttura"/>
      <element name="destinatariInterni" nillable="true" type="impl:ArrayOf_186797045_598279129_nillable_StrutturaDestinataria"/>
      <element name="destinatariEsterni" nillable="true" type="impl:ArrayOf_186797045_598279129_nillable_NominativoDestinatario"/>
      <element name="interessati" nillable="true" type="impl:ArrayOf_186797045_598279129_nillable_Nominativo"/>
     </sequence>
    </complexType>
   </element>
   <element name="protocollazioneMittenteAmministrazioneResponse">
    <complexType>
     <sequence>
      <element name="protocollazioneMittenteAmministrazioneReturn" nillable="true" type="tns2:ResultProtocollazione"/>
     </sequence>
    </complexType>
   </element>
   <element name="protocollazioneMittenteEsterno">
    <complexType>
     <sequence>
      <element name="autenticazione" nillable="true" type="tns2:Autenticazione"/>
      <element name="tipologiaDocumenti" nillable="true" type="tns2:TipologiaDocumenti"/>
      <element name="datiProtocollazione" nillable="true" type="tns2:DatiProtocollazione"/>
      <element name="mittente" nillable="true" type="tns2:Nominativo"/>
      <element name="destinatari" nillable="true" type="impl:ArrayOf_186797045_598279129_nillable_StrutturaDestinataria"/>
      <element name="interessati" nillable="true" type="impl:ArrayOf_186797045_598279129_nillable_Nominativo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_186797045_598279129_nillable_StrutturaDestinataria">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="StrutturaDestinataria" nillable="true" type="tns2:StrutturaDestinataria"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_186797045_598279129_nillable_Nominativo">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="Nominativo" nillable="true" type="tns2:Nominativo"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_186797045_598279129_nillable_NominativoDestinatario">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="NominativoDestinatario" nillable="true" type="tns2:NominativoDestinatario"/>
    </sequence>
   </complexType>
  </schema>
    <schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://anagrafica.ged.data.protocollazione.protocollo.eng" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="Indirizzo">
    <sequence>
     <element name="codiceVia" nillable="true" type="xsd:string"/>
     <element name="descrizioneVia" nillable="true" type="xsd:string"/>
     <element name="numeroCivico" nillable="true" type="xsd:string"/>
     <element name="esponente" nillable="true" type="xsd:string"/>
     <element name="interno" nillable="true" type="xsd:string"/>
     <element name="cap" nillable="true" type="xsd:string"/>
     <element name="codiceComune" nillable="true" type="xsd:string"/>
     <element name="descrizioneComune" nillable="true" type="xsd:string"/>
     <element name="codiceProvincia" nillable="true" type="xsd:string"/>
     <element name="descrizioneProvincia" nillable="true" type="xsd:string"/>
     <element name="progressivoIndirizzo" nillable="true" type="xsd:string"/>
     <element name="note" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
    <schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://common.datatype.eng" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="Result">
    <sequence>
     <element name="codice" type="xsd:int"/>
     <element name="descrizione" nillable="true" type="xsd:string"/>
     <element name="tipo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  </wsdl:types>
  <wsdl:message name="protocollazioneMittenteEsternoRequest">
    <wsdl:part element="impl:protocollazioneMittenteEsterno" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="protocollazioneMittenteAmministrazioneRequest">
    <wsdl:part element="impl:protocollazioneMittenteAmministrazione" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="protocollazioneMittenteAmministrazioneResponse">
    <wsdl:part element="impl:protocollazioneMittenteAmministrazioneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="protocollazioneMittenteEsternoResponse">
    <wsdl:part element="impl:protocollazioneMittenteEsternoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GestoreGED_PRT">
    <wsdl:operation name="protocollazioneMittenteEsterno">
      <wsdl:input message="impl:protocollazioneMittenteEsternoRequest" name="protocollazioneMittenteEsternoRequest">
    </wsdl:input>
      <wsdl:output message="impl:protocollazioneMittenteEsternoResponse" name="protocollazioneMittenteEsternoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="protocollazioneMittenteAmministrazione">
      <wsdl:input message="impl:protocollazioneMittenteAmministrazioneRequest" name="protocollazioneMittenteAmministrazioneRequest">
    </wsdl:input>
      <wsdl:output message="impl:protocollazioneMittenteAmministrazioneResponse" name="protocollazioneMittenteAmministrazioneResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestoreGED_PRTSoapBinding" type="impl:GestoreGED_PRT">
<wsaw:UsingAddressing wsdl:required="false"/>
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="protocollazioneMittenteEsterno">
      <wsdlsoap:operation soapAction="protocollazioneMittenteEsterno"/>
      <wsdl:input name="protocollazioneMittenteEsternoRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="protocollazioneMittenteEsternoResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="protocollazioneMittenteAmministrazione">
      <wsdlsoap:operation soapAction="protocollazioneMittenteAmministrazione"/>
      <wsdl:input name="protocollazioneMittenteAmministrazioneRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="protocollazioneMittenteAmministrazioneResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestoreGED_PRTService">
    <wsdl:port binding="impl:GestoreGED_PRTSoapBinding" name="GestoreGED_PRT">
      <wsdlsoap:address location="http://gwwssoap-trged-prod.ecaas.datacenter.comune.roma/protocollo-web-services/GestoreGED_PRT"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>