src/siso/librerie/InterscambioCartellaSociale/XSD/multicacheschemas/PRSS_MT999003ZZ_mod.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (http://www.altova.com) by PP (pp) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" xmlns="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type PRSS_MT999003ZZ.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.4
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8126 2009-08-06 21:22:20Z wbeeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT090000UV01_mod.xsd"/>
	<xs:complexType name="PRSS_MT999003ZZ.Act">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="availabilityTime" type="TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="uncertaintyCode" type="CE" minOccurs="0"/>
			<xs:element name="responsibleParty" type="PRSS_MT999003ZZ.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="PRSS_MT999003ZZ.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="PRSS_MT999003ZZ.Author3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="PRSS_MT999003ZZ.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="finalGoal" type="PRSS_MT999003ZZ.FinalGoal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="PRSS_MT999003ZZ.Definition2" nillable="true" minOccurs="0"/>
			<xs:element name="reason" type="PRSS_MT999003ZZ.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="authorization" type="PRSS_MT999003ZZ.Authorization" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetOf" type="PRSS_MT999003ZZ.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="optional"/>
		<xs:attribute name="moodCode" type="x_ClinicalStatementActMood" use="optional"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.ActDefinition">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Author3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="noteText" type="ED" minOccurs="0"/>
			<xs:element name="time" type="TS" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureText" type="ED" minOccurs="0"/>
			<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Authorization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipAuthorizedBy" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Concern">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Definition2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="actDefinition" type="PRSS_MT999003ZZ.ActDefinition" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipInstantiatesMaster" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Encounter">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="availabilityTime" type="TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="admissionReferralSourceCode" type="CE" minOccurs="0"/>
			<xs:element name="lengthOfStayQuantity" type="PQ" minOccurs="0"/>
			<xs:element name="dischargeDispositionCode" type="CE" minOccurs="0"/>
			<xs:element name="preAdmitTestInd" type="BL" minOccurs="0"/>
			<xs:element name="specialCourtesiesCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="specialArrangementCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="responsibleParty" type="PRSS_MT999003ZZ.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="PRSS_MT999003ZZ.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="PRSS_MT999003ZZ.Author3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="PRSS_MT999003ZZ.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="finalGoal" type="PRSS_MT999003ZZ.FinalGoal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="PRSS_MT999003ZZ.Definition2" nillable="true" minOccurs="0"/>
			<xs:element name="reason" type="PRSS_MT999003ZZ.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="authorization" type="PRSS_MT999003ZZ.Authorization" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetOf" type="PRSS_MT999003ZZ.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassEncounter" use="required"/>
		<xs:attribute name="moodCode" type="x_ClinicalStatementEncounterMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.FinalGoal">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="observationGoal" type="PRSS_MT999003ZZ.ObservationGoal" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasFinalObjective" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.FinancialTransaction">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="availabilityTime" type="TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="interruptibleInd" type="BL" minOccurs="0"/>
			<xs:element name="uncertaintyCode" type="CE" minOccurs="0"/>
			<xs:element name="languageCode" type="CE" minOccurs="0"/>
			<xs:element name="amt" type="MO" minOccurs="0"/>
			<xs:element name="responsibleParty" type="PRSS_MT999003ZZ.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="PRSS_MT999003ZZ.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="PRSS_MT999003ZZ.Author3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="PRSS_MT999003ZZ.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="finalGoal" type="PRSS_MT999003ZZ.FinalGoal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="PRSS_MT999003ZZ.Definition2" nillable="true" minOccurs="0"/>
			<xs:element name="reason" type="PRSS_MT999003ZZ.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="authorization" type="PRSS_MT999003ZZ.Authorization" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetOf" type="PRSS_MT999003ZZ.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassFinancialTransaction" use="required"/>
		<xs:attribute name="moodCode" type="x_ClinicalStatementActMood" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Location">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="serviceFacility" type="PRSS_MT999003ZZ.ServiceFacility" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Material">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="desc" type="ST" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="MAT"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Observation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="derivationExpr" type="ST" minOccurs="0"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="availabilityTime" type="TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="uncertaintyCode" type="CE" minOccurs="0"/>
			<xs:element name="languageCode" type="CE" minOccurs="0"/>
			<xs:element name="value" type="ANY" minOccurs="0"/>
			<xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="responsibleParty" type="PRSS_MT999003ZZ.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="PRSS_MT999003ZZ.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="PRSS_MT999003ZZ.Author3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="PRSS_MT999003ZZ.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="finalGoal" type="PRSS_MT999003ZZ.FinalGoal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="PRSS_MT999003ZZ.Definition2" nillable="true" minOccurs="0"/>
			<xs:element name="reason" type="PRSS_MT999003ZZ.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="authorization" type="PRSS_MT999003ZZ.Authorization" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetOf" type="PRSS_MT999003ZZ.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.ObservationGoal">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="effectiveTime" type="IVL_TS"/>
			<xs:element name="value" type="ANY"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodGoal" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Organization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="ON" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Performer3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="functionCode" type="CD" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="optional"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Place">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Procedure">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="availabilityTime" type="TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="interruptibleInd" type="BL" minOccurs="0"/>
			<xs:element name="uncertaintyCode" type="CE" minOccurs="0"/>
			<xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="responsibleParty" type="PRSS_MT999003ZZ.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="PRSS_MT999003ZZ.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="PRSS_MT999003ZZ.Author3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="PRSS_MT999003ZZ.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="finalGoal" type="PRSS_MT999003ZZ.FinalGoal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="PRSS_MT999003ZZ.Definition2" nillable="true" minOccurs="0"/>
			<xs:element name="reason" type="PRSS_MT999003ZZ.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="authorization" type="PRSS_MT999003ZZ.Authorization" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetOf" type="PRSS_MT999003ZZ.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
		<xs:attribute name="moodCode" type="x_ClinicalStatementProcedureMood" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Product">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="quantity" type="PQ" minOccurs="0"/>
			<xs:element name="playingMaterial" type="PRSS_MT999003ZZ.Material" nillable="true" minOccurs="0"/>
			<xs:element name="scopingOrganization" type="PRSS_MT999003ZZ.Organization" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassPassive" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Product2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="product" type="PRSS_MT999003ZZ.Product"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Reason2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="concern" type="PRSS_MT999003ZZ.Concern" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.ResponsibleParty">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationResponsibleParty" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.ServiceFacility">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="location" type="PRSS_MT999003ZZ.Place" nillable="true" minOccurs="0"/>
			<xs:element name="serviceProviderOrganization" type="PRSS_MT999003ZZ.Organization" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.SourceOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:element name="pauseQuantity" type="PQ" minOccurs="0"/>
			<xs:element name="conjunctionCode" type="CS" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="observation" type="PRSS_MT999003ZZ.Observation" nillable="true"/>
				<xs:element name="supply" type="PRSS_MT999003ZZ.Supply" nillable="true"/>
				<xs:element name="procedure" type="PRSS_MT999003ZZ.Procedure" nillable="true"/>
				<xs:element name="encounter" type="PRSS_MT999003ZZ.Encounter" nillable="true"/>
				<xs:element name="act" type="PRSS_MT999003ZZ.Act" nillable="true"/>
				<xs:element name="financialTransaction" type="PRSS_MT999003ZZ.FinancialTransaction" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="optional"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999003ZZ.Supply">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="availabilityTime" type="TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="independentInd" type="BL" minOccurs="0"/>
			<xs:element name="languageCode" type="CE" minOccurs="0"/>
			<xs:element name="quantity" type="PQ" minOccurs="0"/>
			<xs:element name="expectedUseTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="product" type="PRSS_MT999003ZZ.Product2" maxOccurs="unbounded"/>
			<xs:element name="responsibleParty" type="PRSS_MT999003ZZ.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="PRSS_MT999003ZZ.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="PRSS_MT999003ZZ.Author3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="PRSS_MT999003ZZ.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="finalGoal" type="PRSS_MT999003ZZ.FinalGoal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="PRSS_MT999003ZZ.Definition2" nillable="true" minOccurs="0"/>
			<xs:element name="reason" type="PRSS_MT999003ZZ.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="authorization" type="PRSS_MT999003ZZ.Authorization" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetOf" type="PRSS_MT999003ZZ.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassSupply" use="required"/>
		<xs:attribute name="moodCode" type="x_ClinicalStatementSupplyMood" use="required"/>
	</xs:complexType>
</xs:schema>
