src/CartellaSociale/trunk/apps/src/librerie/MediciRegioneServiceClient/wsdl/MediciRegione.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://esb.siso.webred.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://esb.siso.webred.it" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://esb.siso.webred.it">
<wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://esb.siso.webred.it">
<element name="codiceRegionale" type="string"/>
<complexType name="Medico">
<sequence>
<element name="codiceFiscale" nillable="true" type="string"/>
<element name="cognome" nillable="true" type="string"/>
<element name="nome" nillable="true" type="string"/>
</sequence>
</complexType>
<element name="getMedicoReturn" type="impl:Medico"/>
</schema>
</wsdl:types>
<wsdl:message name="getMedicoRequest">
<wsdl:part name="codiceRegionale" element="impl:codiceRegionale"/>
</wsdl:message>
<wsdl:message name="getMedicoResponse">
<wsdl:part name="getMedicoReturn" element="impl:getMedicoReturn"/>
</wsdl:message>
<wsdl:portType name="MedicoServicePortType">
<wsdl:operation name="getMedico">
<wsdl:input message="impl:getMedicoRequest" wsaw:Action="getMedico"/>
<wsdl:output message="impl:getMedicoResponse" wsaw:Action="//esb.siso.webred.it/MediciRegione/getMedicoResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="MedicoServiceSoap11Binding" type="impl:MedicoServicePortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="getMedico">
<soap:operation soapAction="getMedico" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="MedicoServiceSoap12Binding" type="impl:MedicoServicePortType">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="getMedico">
<soap12:operation soapAction="getMedico" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="MedicoServiceHttpBinding" type="impl:MedicoServicePortType">
<http:binding verb="POST"/>
<wsdl:operation name="getMedico">
<http:operation location="getMedico"/>
<wsdl:input>
<mime:content type="text/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="text/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="MedicoService">
<wsdl:port name="MedicoServiceHttpSoap11Endpoint" binding="impl:MedicoServiceSoap11Binding">
<soap:address location="http://RANUCCI_L:8280/services/MedicoService.MedicoServiceHttpSoap11Endpoint"/>
</wsdl:port>
<wsdl:port name="MedicoServiceHttpSoap12Endpoint" binding="impl:MedicoServiceSoap12Binding">
<soap12:address location="http://RANUCCI_L:8280/services/MedicoService.MedicoServiceHttpSoap12Endpoint"/>
</wsdl:port>
<wsdl:port name="MedicoServiceHttpEndpoint" binding="impl:MedicoServiceHttpBinding">
<http:address location="http://RANUCCI_L:8280/services/MedicoService.MedicoServiceHttpEndpoint"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>