src/progetti/librerie/InterscambioCartellaSociale/XSD/multicacheschemas/COCT_MT620000UV_mod.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT620000UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.4
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8126 2009-08-06 21:22:20Z wbeeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot_mod.xsd"/>
   <xs:complexType name="COCT_MT620000UV.ActDefinition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="product" type="COCT_MT620000UV.Product2" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.ActiveMoiety">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="activeMoiety" type="COCT_MT620000UV.ActiveMoietyEntity" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassActiveMoiety" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.ActiveMoietyEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="asSpecializedKind" type="COCT_MT620000UV.SpecializedKind" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Agency">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="ON" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassPublicInstitution" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Approval">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="holder" type="COCT_MT620000UV.Holder" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="author" type="COCT_MT620000UV.Author2" minOccurs="1" maxOccurs="1"/>
         <xs:element name="replacement" type="COCT_MT620000UV.ReplacementOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassContract" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.AssignedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="assignedOrganization" type="COCT_MT620000UV.Organization" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="performance" type="COCT_MT620000UV.PrimaryPerformer" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.AssignedEntity2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedPerson" type="COCT_MT620000UV.Person" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="representedOrganization" type="COCT_MT620000UV.Organization"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.AssignedEntity3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="representedOrganization" type="COCT_MT620000UV.Organization"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="performance" type="COCT_MT620000UV.PrimaryPerformer" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Author2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="territorialAuthority" type="COCT_MT620000UV.TerritorialAuthority"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Author3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedEntity" type="COCT_MT620000UV.AssignedEntity2" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.BillingUnitDefinition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="unitPriceAmt" type="RTO_MO_PQ" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Characteristic">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.ContactParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="contactPerson" type="COCT_MT620000UV.Person" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassContact" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Content">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="containerPackagedProduct" type="COCT_MT620000UV.PackagedProduct"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="indirectTargetOf" type="COCT_MT620000UV.IndirectTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassContent" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Content1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="containerPackagedProduct" type="COCT_MT620000UV.PackagedProduct"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="indirectTargetOf" type="COCT_MT620000UV.IndirectTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassContent" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.DeviceInstance">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lotNumberText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expirationTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="manufacturerModelName" type="SC" minOccurs="0" maxOccurs="1"/>
         <xs:element name="softwareName" type="SC" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asMember" type="COCT_MT620000UV.Member" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="asInstanceOfKind" type="COCT_MT620000UV.InstanceOfKind" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="part" type="COCT_MT620000UV.Part1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ingredient" type="COCT_MT620000UV.Ingredient1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="member" type="COCT_MT620000UV.Member1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassDevice" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Document">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="classCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="moodCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="setId" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="versionNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="COCT_MT620000UV.Author3" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.EntityWithGeneric">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="genericMedicine" type="COCT_MT620000UV.GenericMedicine" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassHasGeneric" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.EquivalentEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="definingMaterialKind" type="COCT_MT620000UV.MaterialKind" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassOntological" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.EquivalentSubstance">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="definingSubstance" type="COCT_MT620000UV.Substance" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassOntological" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.GenericMedicine">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Holder">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="role" type="COCT_MT620000UV.Role" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationHolder" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.IndirectTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="billingUnitDefinition" type="COCT_MT620000UV.BillingUnitDefinition"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationIndirectTarget" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Ingredient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ingredient" type="COCT_MT620000UV.Substance" minOccurs="1" maxOccurs="1"/>
         <xs:element name="subjectOf" type="COCT_MT620000UV.Subject5" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="COCT_MT620000UV.IndirectTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassIngredientEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Ingredient1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ingredient" type="COCT_MT620000UV.ProductInstance" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassIngredientEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.InstanceOfKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="kindOfMaterialKind" type="COCT_MT620000UV.MaterialKind" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassInstance" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.InstanceOfKind2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="productInstanceInstance" type="COCT_MT620000UV.ProductInstance"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="deviceInstanceInstance" type="COCT_MT620000UV.DeviceInstance"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="subjectOf" type="COCT_MT620000UV.Subject6" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassInstance" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="role" type="COCT_MT620000UV.Role2" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.ManufacturedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="manufacturedProduct" type="COCT_MT620000UV.Product" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="manufacturerOrganization" type="COCT_MT620000UV.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="COCT_MT620000UV.Subject5" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="COCT_MT620000UV.IndirectTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.ManufacturedProduct3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedMaterialKind" type="COCT_MT620000UV.MaterialKind"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.MarketingAct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="COCT_MT620000UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.MaterialKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Member">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="groupProductInstance" type="COCT_MT620000UV.ProductInstance"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="groupDeviceInstance" type="COCT_MT620000UV.DeviceInstance" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="subjectOf" type="COCT_MT620000UV.Subject6" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassMember" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Member1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="memberProductInstance" type="COCT_MT620000UV.ProductInstance"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="memberDeviceInstance" type="COCT_MT620000UV.DeviceInstance" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="subjectOf" type="COCT_MT620000UV.Subject6" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassMember" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.NamedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="assigningTerritory" type="COCT_MT620000UV.Territory" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Organization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="ON" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity1" type="COCT_MT620000UV.AssignedEntity3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="contactParty" type="COCT_MT620000UV.ContactParty" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="assignedEntity2" type="COCT_MT620000UV.AssignedEntity" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.PackagedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="formCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="capacityQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="capTypeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asContent" type="COCT_MT620000UV.Content1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassContainer" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Part">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="partProduct" type="COCT_MT620000UV.Product" minOccurs="1" maxOccurs="1"/>
         <xs:element name="subjectOf" type="COCT_MT620000UV.Subject5" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="COCT_MT620000UV.IndirectTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPart" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Part1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="partProductInstance" type="COCT_MT620000UV.ProductInstance" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="partDeviceInstance" type="COCT_MT620000UV.DeviceInstance" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="subjectOf" type="COCT_MT620000UV.Subject6" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPart" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.PartOfAssembly">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="wholeProduct" type="COCT_MT620000UV.Product" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPart" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Policy">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassPolicy" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.PrimaryPerformer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="actDefinition" type="COCT_MT620000UV.ActDefinition" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationPrimaryPerformer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="formCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asNamedEntity" type="COCT_MT620000UV.NamedEntity" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asContent" type="COCT_MT620000UV.Content" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asPartOfAssembly" type="COCT_MT620000UV.PartOfAssembly" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asEntityWithGeneric" type="COCT_MT620000UV.EntityWithGeneric"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="asSpecializedKind" type="COCT_MT620000UV.SpecializedKind" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asEquivalentEntity" type="COCT_MT620000UV.EquivalentEntity"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="part" type="COCT_MT620000UV.Part" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ingredient" type="COCT_MT620000UV.Ingredient" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="instanceOfKind" type="COCT_MT620000UV.InstanceOfKind2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Product2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="COCT_MT620000UV.ManufacturedProduct3"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.ProductEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.ProductInstance">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lotNumberText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expirationTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asMember" type="COCT_MT620000UV.Member" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="asInstanceOfKind" type="COCT_MT620000UV.InstanceOfKind" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="part" type="COCT_MT620000UV.Part1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ingredient" type="COCT_MT620000UV.Ingredient1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="member" type="COCT_MT620000UV.Member1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.ReplacementOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="approval" type="COCT_MT620000UV.Approval" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipReplaces" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Role">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="playingOrganization" type="COCT_MT620000UV.Organization" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Role2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="playingTerritory" type="COCT_MT620000UV.Territory" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.SpecializedKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="generalizedMaterialKind" type="COCT_MT620000UV.MaterialKind"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassIsSpeciesEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Subject5">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="approval1" type="COCT_MT620000UV.Approval" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="policy1" type="COCT_MT620000UV.Policy" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:choice>
               <xs:element name="marketingAct" type="COCT_MT620000UV.MarketingAct" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="characteristic" type="COCT_MT620000UV.Characteristic" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="act" type="COCT_MT620000UV.Document" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Subject6">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="productEvent" type="COCT_MT620000UV.ProductEvent" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Substance">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asSpecializedKind" type="COCT_MT620000UV.SpecializedKind" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asEquivalentSubstance" type="COCT_MT620000UV.EquivalentSubstance"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="activeMoiety" type="COCT_MT620000UV.ActiveMoiety" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.TerritorialAuthority">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="territory" type="COCT_MT620000UV.Territory" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="governingAgency" type="COCT_MT620000UV.Agency" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassTerritoryOfAuthority" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT620000UV.Territory">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassState" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
</xs:schema>