src/CartellaSociale/trunk/apps/src/librerie/InterscambioCartellaSociale/XSD/multicacheschemas/PRSS_MT999005ZZ_mod.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (http://www.altova.com) by PP (pp) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" xmlns="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type PRSS_MT999005ZZ.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.4
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8126 2009-08-06 21:22:20Z wbeeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT090000UV01_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT090100UV01_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT090400UV_mod.xsd"/>
	<xs:include schemaLocation="PRSS_MT999003ZZ_mod.xsd"/>
	<xs:include schemaLocation="PRSS_MT999002ZZ_mod.xsd"/>
	<xs:complexType name="PRSS_MT999005ZZ.Author">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="modeCode" type="CE" minOccurs="1" maxOccurs="1"/>
			<xs:element name="signatureCode" type="CE" minOccurs="1" maxOccurs="1"/>
			<xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999005ZZ.CarePlan">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="title" type="ST" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="performer" type="PRSS_MT999005ZZ.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="PRSS_MT999005ZZ.Author" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="PRSS_MT999005ZZ.DataEnterer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="verifier" type="PRSS_MT999005ZZ.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="finalGoal" type="PRSS_MT999005ZZ.FinalGoal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reason" type="PRSS_MT999005ZZ.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component1" type="PRSS_MT999005ZZ.Component" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component2" type="PRSS_MT999005ZZ.Component10" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component3" type="PRSS_MT999005ZZ.Component7" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetOf" type="PRSS_MT999005ZZ.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassCareProvision" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999005ZZ.Component">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="patientInstructions" type="PRSS_MT999005ZZ.PatientInstructions" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999005ZZ.Component10">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
			<xs:choice>
				<xs:element name="observation" type="PRSS_MT999002ZZ.CommonObservationEvent" nillable="true" minOccurs="1" maxOccurs="1"/>
				<xs:element name="supply" type="PRSS_MT999003ZZ.Supply" nillable="true" minOccurs="1" maxOccurs="1"/>
				<xs:element name="procedure" type="PRSS_MT999003ZZ.Procedure" nillable="true" minOccurs="1" maxOccurs="1"/>
				<xs:element name="encounter" type="PRSS_MT999003ZZ.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
				<xs:element name="act" type="PRSS_MT999003ZZ.Act" nillable="true" minOccurs="1" maxOccurs="1"/>
				<xs:element name="financialTransaction" type="PRSS_MT999003ZZ.FinancialTransaction" nillable="true" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999005ZZ.Component7">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="carePlan" type="PRSS_MT999005ZZ.CarePlan" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999005ZZ.Concern">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999005ZZ.DataEnterer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationDataEntryPerson" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999005ZZ.FinalGoal">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="observationGoal" type="PRSS_MT999002ZZ.CommonObservationEvent" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasFinalObjective" use="optional"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999005ZZ.ObservationGoal">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional"/>
		<xs:attribute name="moodCode" type="ActMoodGoal" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999005ZZ.PatientInstructions">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="performer" type="PRSS_MT999005ZZ.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999005ZZ.Performer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedParty" type="COCT_MT090400UV.AssignedParty" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999005ZZ.Reason2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="concern" type="PRSS_MT999005ZZ.Concern" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999005ZZ.SourceOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
			<xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="carePlan" type="PRSS_MT999005ZZ.CarePlan" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="optional"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999005ZZ.Verifier">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
</xs:schema>
