src/CartellaSociale/trunk/apps/src/librerie/InterscambioCartellaSociale/XSD/multicacheschemas/PRSS_MT999002ZZ_mod.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (http://www.altova.com) by PP (pp) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" xmlns="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type PRSS_MT999002ZZ.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.4
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8126 2009-08-06 21:22:20Z wbeeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT050002UV07_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT090000UV01_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT040200UV01_mod.xsd"/>
	<xs:complexType name="PRSS_MT999002ZZ.ActRequest">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="author" type="PRSS_MT999002ZZ.Author2" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="x_ActClassCareProvisionObservation" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.Author1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="TS" minOccurs="0"/>
			<xs:element name="signatureCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureText" type="ED" minOccurs="0"/>
			<xs:choice>
				<xs:element name="patient" type="COCT_MT050002UV07.Patient" nillable="true"/>
				<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
				<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.Author2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.CommonObservationEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CE"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="confidentialityCode" type="CV" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="value" type="CE" minOccurs="0"/>
			<xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject" type="PRSS_MT999002ZZ.Subject1" nillable="true" minOccurs="0"/>
			<xs:element name="responsibleParty" type="PRSS_MT999002ZZ.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="PRSS_MT999002ZZ.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="PRSS_MT999002ZZ.Author1" nillable="true" minOccurs="0"/>
			<xs:element name="informant" type="PRSS_MT999002ZZ.Informant" nillable="true" minOccurs="0"/>
			<xs:element name="custodian" type="PRSS_MT999002ZZ.Custodian2" nillable="true" minOccurs="0"/>
			<xs:element name="inFulfillmentOf" type="PRSS_MT999002ZZ.InFulfillmentOf" nillable="true" minOccurs="0"/>
			<xs:element name="reference" type="PRSS_MT999002ZZ.Reference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="predecessor" type="PRSS_MT999002ZZ.Predecessor1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation" type="PRSS_MT999002ZZ.PertinentInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="PRSS_MT999002ZZ.Component4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="successor" type="PRSS_MT999002ZZ.Predecessor2" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
		<xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.Component4">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:element name="priorityNumber" type="REAL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="observationGroup" type="PRSS_MT999002ZZ.ObservationGroup" nillable="true"/>
				<xs:element name="commonObservationEvent" type="PRSS_MT999002ZZ.CommonObservationEvent" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.Custodian2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="patient" type="COCT_MT050002UV07.Patient" nillable="true"/>
				<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
				<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CST"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.Document">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="title" type="ED" minOccurs="0"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="versionNumber" type="INT" minOccurs="0"/>
			<xs:element name="completionCode" type="CE" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" use="required" fixed="DOC"/>
		<xs:attribute name="moodCode" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.InFulfillmentOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="actRequest" type="PRSS_MT999002ZZ.ActRequest" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="FLFS"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.Informant">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="patient" type="COCT_MT050002UV07.Patient" nillable="true"/>
				<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
				<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="INF"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AP"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.NewCommonObservationEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.Observation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CE"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="statusCode" type="CS"/>
			<xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="value" type="ANY" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
		<xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.ObservationGroup">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="statusCode" type="CS"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CV" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject" type="PRSS_MT999002ZZ.Subject1" nillable="true" minOccurs="0"/>
			<xs:element name="responsibleParty" type="PRSS_MT999002ZZ.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="performer" type="PRSS_MT999002ZZ.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="PRSS_MT999002ZZ.Author1" nillable="true" minOccurs="0"/>
			<xs:element name="informant" type="PRSS_MT999002ZZ.Informant" nillable="true" minOccurs="0"/>
			<xs:element name="custodian" type="PRSS_MT999002ZZ.Custodian2" nillable="true" minOccurs="0"/>
			<xs:element name="inFulfillmentOf" type="PRSS_MT999002ZZ.InFulfillmentOf" nillable="true" minOccurs="0"/>
			<xs:element name="reference" type="PRSS_MT999002ZZ.Reference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="predecessor" type="PRSS_MT999002ZZ.Predecessor1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="PRSS_MT999002ZZ.Component4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="successor" type="PRSS_MT999002ZZ.Predecessor2" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.OldCommonObservationEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.Performer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="patient" type="COCT_MT050002UV07.Patient" nillable="true"/>
				<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
				<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRF"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.PertinentInformation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="observation" type="PRSS_MT999002ZZ.Observation" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.Predecessor1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="oldCommonObservationEvent" type="PRSS_MT999002ZZ.OldCommonObservationEvent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUCC"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.Predecessor2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="newCommonObservationEvent" type="PRSS_MT999002ZZ.NewCommonObservationEvent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUCC"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.Reference">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="document" type="PRSS_MT999002ZZ.Document" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ActRelationshipExternalReference" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.ResponsibleParty">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="patient" type="COCT_MT050002UV07.Patient" nillable="true"/>
				<xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"/>
				<xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RESP"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT999002ZZ.Subject1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="patient" type="COCT_MT050002UV07.Patient" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
	</xs:complexType>
</xs:schema>
