src/CartellaSociale/trunk/apps/src/librerie/InterscambioCartellaSociale/XSD/multicacheschemas/PRSS_MT001004ZZ_mod.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (http://www.altova.com) by PP (pp) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example" xmlns="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type PRSS_MT001004ZZ.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.4
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8126 2009-08-06 21:22:20Z wbeeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT050000ZZ_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT050100UV02_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT090203UV01_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT090103UV01_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT710000UV07_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT150001UV01_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT090003UV01_mod.xsd"/>
	<xs:include schemaLocation="PRSS_MT999001ZZ_mod.xsd"/>
	<xs:include schemaLocation="PRSS_MT999002ZZ_mod.xsd"/>
	<xs:include schemaLocation="PRSS_MT999003ZZ_mod.xsd"/>
	<xs:include schemaLocation="PRSS_MT999004ZZ_mod.xsd"/>
	<xs:include schemaLocation="PRSS_MT999005ZZ_mod.xsd"/>
	<xs:include schemaLocation="COCT_MT010000UV01_mod.xsd"/>
	<xs:complexType name="PRSS_MT001004ZZ.Admitter">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090103UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationAdmitter" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.Attender">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090103UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationAttender" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.Component">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.Consultant">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090103UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationConsultant" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.DataEnterer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="noteText" type="ST" minOccurs="0"/>
			<xs:element name="time" type="TS" minOccurs="0"/>
			<xs:element name="assignedPerson" type="COCT_MT090103UV01.AssignedPerson" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationDataEntryPerson" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.EncounterEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CV"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="statusCode" type="CS"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="activityTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dischargeDispositionCode" type="CE" minOccurs="0"/>
			<xs:element name="subject" type="PRSS_MT001004ZZ.Subject" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="recordTarget" type="PRSS_MT001004ZZ.RecordTarget" nillable="true" minOccurs="0"/>
			<xs:element name="responsibleParty" type="PRSS_MT001004ZZ.ResponsibleParty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="PRSS_MT001004ZZ.DataEnterer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="admitter" type="PRSS_MT001004ZZ.Admitter" nillable="true" minOccurs="0"/>
			<xs:element name="attender" type="PRSS_MT001004ZZ.Attender" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="referrer" type="PRSS_MT001004ZZ.Referrer" nillable="true" minOccurs="0"/>
			<xs:element name="consultant" type="PRSS_MT001004ZZ.Consultant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="PRSS_MT001004ZZ.Location1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sequelTo" type="PRSS_MT001004ZZ.SequelTo" nillable="true" minOccurs="0"/>
			<xs:element name="reason" type="PRSS_MT001004ZZ.Reason2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="PRSS_MT001004ZZ.Reference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation1" type="PRSS_MT001004ZZ.PertinentInformation1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation2" type="PRSS_MT001004ZZ.PertinentInformation2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation3" type="PRSS_MT001004ZZ.PertinentInformation3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="componentOf" type="PRSS_MT001004ZZ.Component" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassEncounter" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.Informant">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="assignedEntity" type="COCT_MT090003UV01.AssignedEntity" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationInformant" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.Location">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="onsetLocation" type="PRSS_MT001004ZZ.OnsetLocation" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.Location1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="serviceDeliveryLocation" type="PRSS_MT001004ZZ.ServiceDeliveryLocation" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.Need">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="value" type="CD" minOccurs="0"/>
			<xs:element name="valueNegationInd" type="BL" minOccurs="0"/>
			<xs:element name="informant" type="PRSS_MT001004ZZ.Informant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="PRSS_MT001004ZZ.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassCondition" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.OnsetLocation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.PertinentInformation1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:choice>
					<xs:element name="observation" type="PRSS_MT999003ZZ.Observation" nillable="true"/>
					<xs:element name="supply" type="PRSS_MT999003ZZ.Supply" nillable="true"/>
					<xs:element name="procedure" type="PRSS_MT999003ZZ.Procedure" nillable="true"/>
					<xs:element name="encounter" type="PRSS_MT999003ZZ.Encounter" nillable="true"/>
					<xs:element name="act" type="PRSS_MT999003ZZ.Act" nillable="true"/>
					<xs:element name="financialTransaction" type="PRSS_MT999003ZZ.FinancialTransaction" nillable="true"/>
				</xs:choice>
				<xs:element name="socialeCareProvision" type="PRSS_MT999004ZZ.SocialeCareProvision" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.PertinentInformation2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="carePlan" type="PRSS_MT999005ZZ.CarePlan" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.PertinentInformation3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="genericActEvent" type="PRSS_MT999001ZZ.GenericActEvent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.Reason2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="need" type="PRSS_MT001004ZZ.Need" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipReason" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.RecordTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="patientLite" type="COCT_MT050100UV02.PatientLite" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationRecordTarget" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.Reference">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="observationGroup" type="PRSS_MT999002ZZ.ObservationGroup" nillable="true"/>
				<xs:element name="commonObservationEvent" type="PRSS_MT999002ZZ.CommonObservationEvent" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.Referrer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="assignedEntity" type="COCT_MT090003UV01.AssignedEntity" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationReferrer" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.ResponsibleParty">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="assignedOrganization" type="COCT_MT090203UV01.AssignedOrganization" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationResponsibleParty" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.SequelTo">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipSequel" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.ServiceDeliveryLocation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="location" type="COCT_MT710000UV07.Place"/>
			<xs:element name="serviceProviderOrganization" type="COCT_MT150001UV01.Organization" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRSS_MT001004ZZ.Subject">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="patient" type="COCT_MT050000ZZ.Patient" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
	</xs:complexType>
</xs:schema>
