src/siso/librerie/GedRomaClient/resources/wsdl_collaudo/GestoreDettaglioProtocolloV2.wsdl

<?xml version="1.0" encoding="windows-1252"?>
<wsdl:definitions targetNamespace="http://ws.protocollo.eng" xmlns:impl="http://ws.protocollo.eng" xmlns:intf="http://ws.protocollo.eng" xmlns:tns2="http://v2.data.protocollazione.protocollo.eng" xmlns:tns3="http://data.protocollazione.protocollo.eng" xmlns:tns4="http://protocollo.datatype.eng" xmlns:tns5="http://ged.data.protocollazione.protocollo.eng" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.protocollo.eng" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://v2.data.protocollazione.protocollo.eng" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://v2.data.protocollazione.protocollo.eng"/>
   <element name="dettaglioProtocolloResponse">
    <complexType>
     <sequence>
      <element name="dettaglioProtocolloReturn" nillable="true" type="tns2:ProtocolloConAllegati"/>
     </sequence>
    </complexType>
   </element>
   <element name="dettaglioProtocollo">
    <complexType>
     <sequence>
      <element name="codiceApplicazioneChiamante" nillable="true" type="xsd:string"/>
      <element name="passwordApplicazioneChiamante" nillable="true" type="xsd:string"/>
      <element name="codiceProcedura" nillable="true" type="xsd:string"/>
      <element name="codiceDocumento" nillable="true" type="xsd:string"/>
      <element name="tipoProtocollo" nillable="true" type="xsd:string"/>
      <element name="annoProtocollo" nillable="true" type="xsd:int"/>
      <element name="numeroProgressivoProtocollo" nillable="true" type="xsd:int"/>
      <element name="utenteCollegato" nillable="true" type="xsd:string"/>
      <element name="strutturaUtenteCollegato" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
    <schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://v2.data.protocollazione.protocollo.eng" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns3="http://data.protocollazione.protocollo.eng" xmlns:tns4="http://protocollo.datatype.eng" xmlns:tns5="http://ged.data.protocollazione.protocollo.eng" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ged.data.protocollazione.protocollo.eng"/>
   <import namespace="http://protocollo.datatype.eng"/>
   <import namespace="http://data.protocollazione.protocollo.eng"/>
   <complexType name="ProtocolloConAllegati">
    <complexContent>
     <extension base="tns2:Protocollo">
      <sequence>
       <element name="tipologia_protocollo" nillable="true" type="xsd:string"/>
       <element name="allegati" nillable="true" type="tns2:ArrayOfAllegato"/>
       <element name="annoProtocolloProvenienza" nillable="true" type="xsd:string"/>
       <element name="progProtocolloProvenienza" nillable="true" type="xsd:string"/>
       <element name="tipoProtocolloProvenienza" nillable="true" type="xsd:string"/>
       <element name="codiceDocumentoFisico" nillable="true" type="xsd:string"/>
       <element name="codiceDocumentoLogico" nillable="true" type="xsd:string"/>
       <element name="codiceDocumentoSTPLogico" nillable="true" type="xsd:string"/>
       <element name="dataUlterioreIdentificativo" nillable="true" type="xsd:string"/>
       <element name="descrizioneDocumentoFisico" nillable="true" type="xsd:string"/>
       <element name="descrizioneDocumentoLogico" nillable="true" type="xsd:string"/>
       <element name="descrizioneDocumentoSTPLogico" nillable="true" type="xsd:string"/>
       <element name="ulterioreIdentificativo" nillable="true" type="xsd:string"/>
       <element name="descrizioneStrutturaProtocollante" nillable="true" type="xsd:string"/>
       <element name="descrizioneUtenteProtocollante" nillable="true" type="xsd:string"/>
       <element name="codiceStrutturaProtocollante" nillable="true" type="xsd:string"/>
       <element name="utenteProtocollante" nillable="true" type="xsd:string"/>
       <element name="mails" nillable="true" type="tns2:ArrayOf_1649288947_598279129_nillable_Mail"/>
       <element name="certificati" nillable="true" type="tns2:ArrayOf_1649288947_342555263_nillable_Certificato"/>
       <element name="pratiche" nillable="true" type="tns2:ArrayOf_1649288947_342555263_nillable_Pratica"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="Protocollo">
    <sequence>
     <element name="errore" nillable="true" type="tns3:Errore"/>
     <element name="anno_protocollo" type="xsd:int"/>
     <element name="data_arrivo_documento" nillable="true" type="xsd:dateTime"/>
     <element name="data_protocollo" nillable="true" type="xsd:dateTime"/>
     <element name="data_protocollo_mittente" nillable="true" type="xsd:dateTime"/>
     <element name="mittenti" nillable="true" type="tns2:ArrayOf_1649288947_410416245_nillable_Mittente"/>
     <element name="note_documento" nillable="true" type="xsd:string"/>
     <element name="ora_arrivo_documento" nillable="true" type="xsd:dateTime"/>
     <element name="ora_protocollo" nillable="true" type="xsd:dateTime"/>
     <element name="progressivo_protocollo" type="xsd:int"/>
     <element name="protocollo_mittente" nillable="true" type="xsd:string"/>
     <element name="testo_oggetto" nillable="true" type="xsd:string"/>
     <element name="tipo_protocollo" nillable="true" type="xsd:string"/>
     <element name="destinatari" nillable="true" type="tns2:ArrayOfDestinatario"/>
     <element name="fascicoli" nillable="true" type="tns2:ArrayOfFascicolo"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_1649288947_410416245_nillable_Mittente">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="Mittente" nillable="true" type="tns4:Mittente"/>
    </sequence>
   </complexType>
   <complexType name="Destinatario">
    <sequence>
     <element name="tipoProtocollo" nillable="true" type="xsd:string"/>
     <element name="annoProtocollo" type="xsd:int"/>
     <element name="progressivoProtocollo" type="xsd:int"/>
     <element name="progressivoDestinatario" type="xsd:int"/>
     <element name="tipoDestinatario" nillable="true" type="xsd:string"/>
     <element name="codiceDestinatario" nillable="true" type="xsd:string"/>
     <element name="descrizioneDestinatario" nillable="true" type="xsd:string"/>
     <element name="statoDestinatario" nillable="true" type="xsd:string"/>
     <element name="dataCarico" nillable="true" type="xsd:dateTime"/>
     <element name="codiceUtente" nillable="true" type="xsd:string"/>
     <element name="descrizioneUtente" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfDestinatario">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="Destinatario" nillable="true" type="tns2:Destinatario"/>
    </sequence>
   </complexType>
   <complexType name="Fascicolo">
    <sequence>
     <element name="tipo" nillable="true" type="xsd:string"/>
     <element name="tipoProtocollo" nillable="true" type="xsd:string"/>
     <element name="annoProtocollo" nillable="true" type="xsd:string"/>
     <element name="progressivoProtocollo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfFascicolo">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="Fascicolo" nillable="true" type="tns2:Fascicolo"/>
    </sequence>
   </complexType>
   <complexType name="Allegato">
    <sequence>
     <element name="identificativoAllegato" type="xsd:int"/>
     <element name="descrizioneFile" nillable="true" type="xsd:string"/>
     <element name="nomeFile" nillable="true" type="xsd:string"/>
     <element name="identificativoHash" nillable="true" type="xsd:string"/>
     <element name="tipo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfAllegato">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="Allegato" nillable="true" type="tns2:Allegato"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_1649288947_598279129_nillable_Mail">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="Mail" nillable="true" type="tns5:Mail"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_1649288947_342555263_nillable_Certificato">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="Certificato" nillable="true" type="tns3:Certificato"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_1649288947_342555263_nillable_Pratica">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="Pratica" nillable="true" type="tns3:Pratica"/>
    </sequence>
   </complexType>
  </schema>
    <schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://data.protocollazione.protocollo.eng" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="Errore">
    <sequence>
     <element name="codiceErrore" nillable="true" type="xsd:string"/>
     <element name="descrizioneErrore" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Certificato">
    <sequence>
     <element name="identificativoCertificato" type="xsd:int"/>
     <element name="nomeFile" nillable="true" type="xsd:string"/>
     <element name="identificativoMail" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="Pratica">
    <sequence>
     <element name="chiavePratica" nillable="true" type="xsd:string"/>
     <element name="annoPratica" nillable="true" type="xsd:string"/>
     <element name="progressivoPratica" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
    <schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://protocollo.datatype.eng" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="Mittente">
    <sequence>
     <element name="codice_mittente" nillable="true" type="xsd:string"/>
     <element name="descrizione_mittente" nillable="true" type="xsd:string"/>
     <element name="tipo_mittente" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
    <schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ged.data.protocollazione.protocollo.eng" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="Mail">
    <sequence>
     <element name="identificativoMail" type="xsd:int"/>
     <element name="progressivoDestinatario" type="xsd:int"/>
     <element name="tipoMail" nillable="true" type="xsd:string"/>
     <element name="statoInvio" nillable="true" type="xsd:string"/>
     <element name="indirizzoMailMit" nillable="true" type="xsd:string"/>
     <element name="indirizzoMailDest" nillable="true" type="xsd:string"/>
     <element name="ricevutaAcetazione" nillable="true" type="xsd:string"/>
     <element name="ricevutaconsegna" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  </wsdl:types>
  <wsdl:message name="dettaglioProtocolloResponse">
    <wsdl:part element="impl:dettaglioProtocolloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dettaglioProtocolloRequest">
    <wsdl:part element="impl:dettaglioProtocollo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GestoreDettaglioProtocolloV2">
    <wsdl:operation name="dettaglioProtocollo">
      <wsdl:input message="impl:dettaglioProtocolloRequest" name="dettaglioProtocolloRequest">
    </wsdl:input>
      <wsdl:output message="impl:dettaglioProtocolloResponse" name="dettaglioProtocolloResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestoreDettaglioProtocolloV2SoapBinding" type="impl:GestoreDettaglioProtocolloV2">
<wsaw:UsingAddressing wsdl:required="false"/>
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="dettaglioProtocollo">
      <wsdlsoap:operation soapAction="dettaglioProtocollo"/>
      <wsdl:input name="dettaglioProtocolloRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="dettaglioProtocolloResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestoreDettaglioProtocolloV2Service">
    <wsdl:port binding="impl:GestoreDettaglioProtocolloV2SoapBinding" name="GestoreDettaglioProtocolloV2">
      <wsdlsoap:address location="http://gwwssoap-collaudo-trged-coll.ecaas.datacenter.comune.roma/protocollo-web-services/GestoreDettaglioProtocolloV2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>